# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea
/.git
/output/

__pycache__/
*.csv
*.pth
/xDeepFMcode/
/input/data_train.pt
/franz_torch/models/
/franz_torch/csv_bunch/
